@CHARSET "ISO-8859-1";

.message {
	display: inline-block;
	background-color: gray;
	color:white;
	border: 2px solid red;
}

body {
	background-image: url(/reserv.jpg);
	background-size: cover; 
}
table {
	width: 80%;
}
table,th,td {
	padding:5px;
	border: 1px solid gray;
	border-collapse: collapse;
	
}
th, td {
	text-align: center;
}
table#t01 tr:NTH-CHILD(even) {
	background-color: silver;
}
table#t01 tr:NTH-CHILD(odd) {
	background-color: #ecebc6;
}
table#t01 th {
	background-color: black;
	color:white;
}
table#t01 tr:HOVER {
	background-color: #60f1f4;
}
caption {
	font-size: 35px;
	padding: 5px;
	background-color: silver;
	margin-top: 20px;
}
.action {
	text-decoration: none;
	color: #239665;
}
.button{
	background-color: #c0c0c0;
	color:black;
	text-align: center;
	text-decoration: none;
	border: 2px solid navy;
	border-radius: 5px;
	width:10%;
	padding: 5px 10px;
	margin: 20px 2px;
}
.button:hover {
	background-color: blue;
	color: white;
}
