@CHARSET "ISO-8859-1";

label {
	display: block;
	margin-top: 15px;
	font: italic;
}
.button {
	background-color: #c0c0c0; 
    color: black; 
    border: 2px solid navy;
    border-radius: 5px;
    display: block;
    padding: 10px 20px;
    margin: 20px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover {
	background-color: navy;
	color: white;
}
h1{
	margin: auto;
	width: 500px;
	font: fantasy;
	font-size: 100%;
	
}

message {
	color: white;
}
message#validation-error {
	background-color: maroon;
	border: 1px solid maroon;
	border-radius: 5px;
}
message#conflict-error {
	background-color: maroon;
	border: 1px solid maroon;
	border-radius: 5px;
}
message#system-error {
	background-color: maroon;
	border: 1px solid maroon;
	border-radius: 5px;
}
message#reservation-successful-message {
	background-color: #008040;
	border: 1px solid #ffff00;
	border-radius: 5px;
}
body {
	background-image: url(/reserv.jpg);
	background-size: cover;
}
form {
	
	display:inline-block;
	border-radius: 5px;
	background-color: #ff8000;
	padding:20px;
	width: 25%;
}
a{
	background-color: #c0c0c0;
	color:black;
	text-align: center;
	text-decoration: none;
	border: 2px solid navy;
	border-radius: 5px;
	width:10%;
	padding: 5px 10px;
	margin: 20px 2px;
}
a:HOVER {
	background-color: blue;
	color: white;
}
article {
	
	float:right;
	margin-left: 30%;
	margin-right: 5%;
    display:inline-block;
    position:fixed;
    overflow: hidden;
    background-color: silver;
    opacity: 0.8;
}

